/* =============== DEFAULT HTML - HEADING STYLES =============== */
h1 {
	font-size: 1.5em;
	color: #000000;
}
h2 {
	font-size: 1.4em;
	color: #000000;
}
h3 {
	font-size: 1.3em;
	color: #CC3333;
}
h4 {
	font-size: 1.2em;
	color: #CC8033;
}
h5 {
	font-size: 1.1em;
	color: #333333;
}
h6 {
	font-size: 1em;
	font-weight: bold;
	color: #333333;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin: 0.1em 0 0.5em;
}
/* ============================== LAYOUT ============================== */
/* =============== LAYOUT - GENERAL LAYOUT =============== */
.clearafter:after {
	clear: both;
	display: block;
	content: ".";
	height: 0;
	visibility: hidden;
}
.clearbreak {
	clear: both;
}
div.jsn-modulescontainer2 div.jsn-modulecontainer {
	float: left;
	width: 49.95%;
}
div.jsn-modulescontainer3 div.jsn-modulecontainer {
	float: left;
	width: 33.3%;
}
div.jsn-modulescontainer4 div.jsn-modulecontainer {
	float: left;
	width: 24.975%;
}
div.jsn-modulescontainer5 div.jsn-modulecontainer {
	float: left;
	width: 19.98%;
}
div.jsn-modulescontainer6 div.jsn-modulecontainer {
	float: left;
	width: 16.65%;
}
div.jsn-modulescontainer {
	padding: 4px 0 10px 0;
}
div.jsn-modulescontainer div.jsn-modulecontainer_inner {
	margin: 4px 6px;
}


/* =============== TYPOGRAPHY - CONTENT COLUMMNS =============== */
div.grid-layout2 div.grid-col {
	float: left;
	width: 49.95%;
}
div.grid-layout3 div.grid-col {
	float: left;
	width: 33.3%;
}
div.grid-layout4 div.grid-col {
	float: left;
	width: 24.96%;
}
div.grid-layout5 div.grid-col {
	float: left;
	width: 19.98%;
}
div.grid-layout6 div.grid-col {
	float: left;
	width: 16.65%;
}
div.grid-layout div.grid-col div.grid-col_inner {
	margin-right: 2%;
}
div.grid-layout div.grid-lastcol div.grid-col_inner {
	margin-right: 0;
}
/* =============== TYPOGRAPHY - TEXT STYLES =============== */
.pre-highlight {
	background: #FFFFD5;
	font-family: "Courier New",Courier,monospace;
	padding: 1em;
	border-left: 5px solid #404040;
}
.blockquote-Stress {
	font-style: italic;
	min-height: 45px;
	color: #404040;
	padding-left: 60px;
	background: url(../tptools-images/icons/icon-text-blockquote.png) no-repeat top left;
}
.text-box {
	border: 1px solid #e5e5e5;
	padding: .8em;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0px 0px 2px #999999;
	-moz-box-shadow: 0px 0px 2px #999999;
	-webkit-box-shadow: 0px 0px 2px #999999;
}
.text-box-highlight {
	padding: .8em;
	border: 1px solid transparent;
}
.text-box-highlight:hover {
	background-color: #f2f2f2;
	border-color: #d9d9d9;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0px 0px 2px #999999;
	-moz-box-shadow: 0px 0px 2px #999999;
	-webkit-box-shadow: 0px 0px 2px #999999;
}
.text-highlight {
	padding: .2em .5em;
	background: #FFFFAA;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.text-highlight.highlight-green {
	color: #fff;
	background: #48691b;
}
.text-highlight.highlight-light {
	color: #000;
	background: #e5e5e5;
}
.text-highlight.highlight-dark {
	color: #fff;
	background: #595959;
}
.text-dropcap:first-letter,
.text-dropcap :first-child:first-letter {
	color: #404040;
	font: 4em/.8em "Times New Roman", Times, serif;
	float: left;
}
.text-alert {
	border-top: 2px solid #FEABAB;
	border-bottom: 2px solid #FEABAB;
	background: #FFDFDF url(../tptools-images/icons/icon-text-alert.png) no-repeat;
}
.text-info {
	border-top: 2px solid #B7D2F2;
	border-bottom: 2px solid #B7D2F2;
	background: #DBE7F8 url(../tptools-images/icons/icon-text-info.png) no-repeat;
}
.text-download {
	border-top: 2px solid #DDEDBC;
	border-bottom: 2px solid #DDEDBC;
	background: #F2F9E5 url(../tptools-images/icons/icon-text-download.png) no-repeat;
}
.text-comment {
	border-top: 2px solid #FEEBAB;
	border-bottom: 2px solid #FEEBAB;
	background: #FEF8E1 url(../tptools-images/icons/icon-text-comment.png) no-repeat;
}
.text-tip {
	border-top: 2px solid #FEEBAB;
	border-bottom: 2px solid #FEEBAB;
	background: #FFFFD5 url(../tptools-images/icons/icon-text-tip.png) no-repeat;
}
.text-attachment {
	border-top: 2px solid #e5e5e5;
	border-bottom: 2px solid #e5e5e5;
	background: #f2f2f2 url(../tptools-images/icons/icon-text-attachment.png) no-repeat;
}
.text-video {
	border-top: 2px solid #e5e5e5;
	border-bottom: 2px solid #e5e5e5;
	background: #f2f2f2 url(../tptools-images/icons/icon-text-video.png) no-repeat;
}
.text-audio {
	border-top: 2px solid #e5e5e5;
	border-bottom: 2px solid #e5e5e5;
	background: #f2f2f2 url(../tptools-images/icons/icon-text-audio.png) no-repeat;
}
.text-tip,
.text-info,
.text-alert,
.text-audio,
.text-video,
.text-comment,
.text-download,
.text-attachment {
	background-position: left center;
	padding: 0.8em 0.8em 0.8em 5em;
	min-height: 28px;
}
.text-size-small {
	font-size: 0.9em;
}
.text-size-medium {
	font-size: 1em;
}
.text-size-large {
	font-size: 1.1em;
}
.text-size-xlarge {
	font-size: 1.2em;
}
.text-size-xxlarge {
	font-size: 1.3em;
}
hr.line-dots {
	background: url(../tptools-images/dot.png) repeat-x center left;
	padding: 0.5em 0;
	border: none;
}
hr.line-solid {
	
}
/* =============== TYPOGRAPHY - LINK STYLES =============== */
/* ----- BUTTON LINK ----- */
.link-button {
	padding: 5px 12px;
	border: 1px solid;
	display: inline-block;
	cursor: pointer;
	font-size: 1.1em;
	border-color: #595959;
	text-decoration: none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.link-button:hover {
	border-color: #000;
	box-shadow: 0px 0px 3px #333333;
	-moz-box-shadow: 0px 0px 3px #333333;
	-webkit-box-shadow: 0px 0px 3px #333333;
}
a.link-button:hover,
.link-button a:hover {
	text-decoration: none;
}
a.link-button,
.link-button a {
	color: #fff !important;
	font-weight: bold;
}
.link-button.button-light,
.link-button.button-light a {
	color: #333 !important;
}
.link-button.button-light {
	background: #D8D8D8 url(../tptools-images/backgrounds/bg-link-button.png) 0 0 repeat-x;
}
.link-button.button-dark {
	background: #494949 url(../tptools-images/backgrounds/bg-link-button.png) 0 -300px repeat-x;
}
.link-button.button-green {
	background: #8D9D42 url(../tptools-images/backgrounds/bg-link-button.png) 0 -600px repeat-x;
}
.link-button.button-orange {
	background: #E25F18 url(../tptools-images/backgrounds/bg-link-button.png) 0 -900px repeat-x;
}
.link-button.button-blue {
	background: #1890D9 url(../tptools-images/backgrounds/bg-link-button.png) 0 -1200px repeat-x;
}
.link-button.button-red {
	background: #AB3A10 url(../tptools-images/backgrounds/bg-link-button.png) 0 -1500px repeat-x;
}
.link-button .link-icon {
	line-height: 100%;
	margin: 0;
}
/* ----- ICON LINK ----- */
.link-icon {
	display: inline-block;
	padding: 5px 0 5px 28px;
}
/* ----- EXTENDED LINK ----- */
.link-icon-ext {
	display: inline-block;
	padding-right: 20px;
}
.link-icon-ext.icon-ext-aim {
	background: url(../tptools-images/icons/icons-ext.png) no-repeat right 0;
}
.link-icon-ext.icon-ext-archive {
	background: url(../tptools-images/icons/icons-ext.png) no-repeat right -86px;
}
.link-icon-ext.icon-ext-mobile {
	background: url(../tptools-images/icons/icons-ext.png) no-repeat right -172px;
}
.link-icon-ext.icon-ext-css {
	background: url(../tptools-images/icons/icons-ext.png) no-repeat right -258px;
}
.link-icon-ext.icon-ext-application {
	background: url(../tptools-images/icons/icons-ext.png) no-repeat right -344px;
}
.link-icon-ext.icon-ext-doc {
	background: url(../tptools-images/icons/icons-ext.png) no-repeat right -430px;
}
.link-icon-ext.icon-ext-feed {
	background: url(../tptools-images/icons/icons-ext.png) no-repeat right -516px;
}
.link-icon-ext.icon-ext-movie {
	background: url(../tptools-images/icons/icons-ext.png) no-repeat right -602px;
}
.link-icon-ext.icon-ext-flash {
	background: url(../tptools-images/icons/icons-ext.png) no-repeat right -688px;
}
.link-icon-ext.icon-ext-calendar {
	background: url(../tptools-images/icons/icons-ext.png) no-repeat right -774px;
}
.link-icon-ext.icon-ext-mail {
	background: url(../tptools-images/icons/icons-ext.png) no-repeat right -860px;
}
.link-icon-ext.icon-ext-quicktime {
	background: url(../tptools-images/icons/icons-ext.png) no-repeat right -946px;
}
.link-icon-ext.icon-ext-msn {
	background: url(../tptools-images/icons/icons-ext.png) no-repeat right -1032px;
}
.link-icon-ext.icon-ext-music {
	background: url(../tptools-images/icons/icons-ext.png) no-repeat right -1118px;
}
.link-icon-ext.icon-ext-pdf {
	background: url(../tptools-images/icons/icons-ext.png) no-repeat right -1204px;
}
.link-icon-ext.icon-ext-powerpoint {
	background: url(../tptools-images/icons/icons-ext.png) no-repeat right -1290px;
}
.link-icon-ext.icon-ext-skype {
	background: url(../tptools-images/icons/icons-ext.png) no-repeat right -1376px;
}
.link-icon-ext.icon-ext-torrent {
	background: url(../tptools-images/icons/icons-ext.png) no-repeat right -1462px;
}
.link-icon-ext.icon-ext-font {
	background: url(../tptools-images/icons/icons-ext.png) no-repeat right -1548px;
}
.link-icon-ext.icon-ext-text {
	background: url(../tptools-images/icons/icons-ext.png) no-repeat right -1634px;
}
.link-icon-ext.icon-ext-vcard {
	background: url(../tptools-images/icons/icons-ext.png) no-repeat right -1720px;
}
.link-icon-ext.icon-ext-windowsmedia {
	background: url(../tptools-images/icons/icons-ext.png) no-repeat right -1806px;
}
.link-icon-ext.icon-ext-xls {
	background: url(../tptools-images/icons/icons-ext.png) no-repeat right -1892px;
}
.link-icon-ext.icon-ext-yahoo {
	background: url(../tptools-images/icons/icons-ext.png) no-repeat right -1978px;
}
/* ----- ACTION LINK ----- */
.link-action {
	font-weight: bold;
	padding: 1px 2px;
	text-decoration: none;
}
.link-action:hover {
	color: #ffffff;
	text-decoration: none;
}
/* ----- HIGHLIGHT LINK ----- */
.link-highlight {
	color: #595959;
	font-weight: bold;
	display: block;
	padding: 5px;
	border: 1px solid transparent;
}
.link-highlight:hover {
	background-color: #f2f2f2;
	border-color: #d9d9d9;
	color: #000;
	text-decoration: none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0px 0px 2px #999999;
	-moz-box-shadow: 0px 0px 2px #999999;
	-webkit-box-shadow: 0px 0px 2px #999999;
}
/* ----- TOOLTIPS LINK ----- */
a.link-tooltip {
	position: relative;
}
a.link-tooltip:hover {
	z-index: 25;
}
a.link-tooltip span {
	display: none;
	position: absolute;
	top: 10px;
	left: 10px;
}
a.link-tooltip:hover span {
	display: block;
}
/* =============== TYPOGRAPHY - TABLE STYLES =============== */
table.table-style {
	background: #ffffff;
	border-collapse: collapse;
	border-spacing: 0;
	color: #404040;
}
table.table-style caption {
	padding: 6px 0;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
}
table.table-style td,
table.table-style th {
	padding: 10px;
	border-bottom: 1px solid #DEDEDE;
}
table.table-style th {
	text-align: left;
}
table.table-style .highlight {
	font-size: 14px;
	font-weight: bold;
	color: #fff;
}
table.table-style thead th {
	font-size: 1.1em;
	border-top: 6px solid #fff;
	color: #ffffff;
}
table.table-style thead th.highlight {
	border-top: none;
}
table.table-style tbody th,
table.table-style tbody td {
	vertical-align: top;
	text-align: left;
	border-right: 1px solid #DEDEDE;
	border-left: 1px solid #DEDEDE;
}
table.table-style tbody .highlight {
	background-color: #999;
}
table.table-style tbody tr.odd {
	background: #f2f2f2;
}
table.table-style tbody tr.odd .highlight {
	background-color: #7E7E7E;
}
table.table-style tbody tr:hover th,
table.table-style tbody tr:hover td {
	background: #E4E4E4;
}
table.table-style tbody tr:hover .highlight {
	background: #737373;
}
table.table-style tfoot {
	border: 1px solid #DEDEDE;
}
table.table-style tfoot th,
table.table-style tfoot td {
	border: none;
	padding: 4px 10px;
	background-color: #d9d9d9;
}
table.table-style tfoot td {
	text-align: right;
}
/* ----- COLOR HEADER TABLE ----- */
table.style-colorheader thead th.highlight {
	background-color: #484848;
}
/* ----- COLOR STRIPES TABLE ----- */
table.style-colorstripes {
	color: #fff;
}
table.style-colorstripes thead,
table.style-colorstripes tfoot {
	border: none;
}
table.style-colorstripes tbody .highlight {
	border-bottom: none;
	border-top: 1px solid #fff;
	color: #333;
}
/* ----- GREY STRIPES TABLE ----- */
table.style-greystripes thead th {
	background: #404040;
	border-right: 1px groove #999999;
}
/* =============== TYPOGRAPHY - LIST STYLES =============== */
/* ----- ARROW LIST ----- */
ul.list-arrow {
	list-style: none;
}
ul.list-arrow li {
	margin-left: 0;
	padding-left: 16px;
}
ul.list-arrow.arrow-red li {
	background: url(../tptools-images/icons/icons-arrow.png) no-repeat 0 0;
}
ul.list-arrow.arrow-blue li {
	background: url(../tptools-images/icons/icons-arrow.png) no-repeat 0 -86px;
}
ul.list-arrow.arrow-green li {
	background: url(../tptools-images/icons/icons-arrow.png) no-repeat 0 -172px;
}
/* ----- ICON LIST ----- */
ul.list-icon {
	list-style-type: none;
}
ul.list-icon li {
	position: relative;
	margin: 5px 0;
	padding: 2px 0 0 26px;
}
ul.list-icon li .jsn-listbullet {
	height: 24px;
	width: 24px;
	position: absolute;
	left: 0;
	top: 0;
}
/* ----- BULLET NUMBER LIST ----- */
ul.list-number-bullet {
	list-style: none;
}
ul.list-number-bullet li {
	position: relative;
	margin-left: 0;
	padding: 6px 0 6px 36px;
}
ul.list-number-bullet li .jsn-listbullet {
	display: block;
	width: 32px;
	font-weight: bold;
	position: absolute;
	left: 0;
	top: -2px;
}
ul.list-number-bullet li .jsn-listbullet {
	height: 32px;
	line-height: 32px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	background: url(../tptools-images/icons/icons-bullet.png) no-repeat 0 top;
}
ul.list-number-bullet.bullet-blue li .jsn-listbullet {
	background-position: 0 0;
}
ul.list-number-bullet.bullet-green li .jsn-listbullet {
	background-position: 0 -102px;
}
ul.list-number-bullet.bullet-grey li .jsn-listbullet {
	background-position: 0 -204px;
}
ul.list-number-bullet.bullet-orange li .jsn-listbullet {
	background-position: 0 -306px;
}
ul.list-number-bullet.bullet-red li .jsn-listbullet {
	background-position: 0 -408px;
}
ul.list-number-bullet.bullet-violet li .jsn-listbullet {
	background-position: 0 -510px;
}
/* ----- DIGIT NUMBER LIST ----- */
ul.list-number-digit {
	list-style: none;
}
ul.list-number-digit li {
	position: relative;
	margin-left: 0;
	padding: 8px 0 8px 42px;
}
ul.list-number-digit li .jsn-listbullet {
	font-size: 32px;
	line-height: 100%;
	text-align: right;
	font-weight: bold;
	display: block;
	width: 32px;
	position: absolute;
	left: 0;
	top: 0;
}
ul.list-number-digit.digit-blue li .jsn-listbullet {
	color: #009aca;
}
ul.list-number-digit.digit-green li .jsn-listbullet {
	color: #429e00;
}
ul.list-number-digit.digit-grey li .jsn-listbullet {
	color: #999999;
}
ul.list-number-digit.digit-orange li .jsn-listbullet {
	color: #e66000;
}
ul.list-number-digit.digit-red li .jsn-listbullet {
	color: #bf0000;
}
ul.list-number-digit.digit-violet li .jsn-listbullet {
	color: #9e0084;
}
/* ----- HORIZONTAL LIST ----- */
ul.list-horizontal {
	margin: 0;
	list-style: none;
}
ul.list-horizontal li {
	display: inline;
	margin: 0 .5em;
}
/* ----- NOBULLET LIST ----- */
ul.list-nobullet {
	margin: 0;
	list-style: none;
}
ul.list-nobullet li {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}
/* =============== TYPOGRAPHY - IMAGES STYLES =============== */
img.image-left {
	float: left;
	margin: 0.5em 1em 0.5em 0;
}
img.image-right {
	float: right;
	margin: 0.5em 0.5em 0.5em 1em;
}
img.image-border {
	border: 1px solid #e5e5e5;
	padding: 3px;
}
img.image-margin {
	margin: .5em;
}

/* ============================== MISC ============================== */
/* =============== GENERAL ICON ASSIGNMENT =============== */
.link-icon.icon-article,
.menu-iconmenu .icon-article a span,
.list-icon.icon-article li .jsn-listbullet,
.icon-article h3.jsn-moduletitle span.jsn-moduleicon {
	background: url(../tptools-images/icons/icons-uni.png) no-repeat 0 0;
}
.link-icon.icon-calendar,
.menu-iconmenu .icon-calendar a span,
.list-icon.icon-calendar li .jsn-listbullet,
.icon-calendar h3.jsn-moduletitle span.jsn-moduleicon {
	background: url(../tptools-images/icons/icons-uni.png) no-repeat 0 -94px;
}
.link-icon.icon-cart,
.menu-iconmenu .icon-cart a span,
.list-icon.icon-cart li .jsn-listbullet,
.icon-cart h3.jsn-moduletitle span.jsn-moduleicon {
	background: url(../tptools-images/icons/icons-uni.png) no-repeat 0 -188px;
}
.link-icon.icon-comment,
.menu-iconmenu .icon-comment a span,
.list-icon.icon-comment li .jsn-listbullet,
.icon-comment h3.jsn-moduletitle span.jsn-moduleicon {
	background: url(../tptools-images/icons/icons-uni.png) no-repeat 0 -282px;
}
.link-icon.icon-display,
.menu-iconmenu .icon-display a span,
.list-icon.icon-display li .jsn-listbullet,
.icon-display h3.jsn-moduletitle span.jsn-moduleicon {
	background: url(../tptools-images/icons/icons-uni.png) no-repeat 0 -376px;
}
.link-icon.icon-download,
.menu-iconmenu .icon-download a span,
.list-icon.icon-download li .jsn-listbullet,
.icon-download h3.jsn-moduletitle span.jsn-moduleicon {
	background: url(../tptools-images/icons/icons-uni.png) no-repeat 0 -470px;
}
.link-icon.icon-folder,
.menu-iconmenu .icon-folder a span,
.list-icon.icon-folder li .jsn-listbullet,
.icon-folder h3.jsn-moduletitle span.jsn-moduleicon {
	background: url(../tptools-images/icons/icons-uni.png) no-repeat 0 -564px;
}
.link-icon.icon-help,
.menu-iconmenu .icon-help a span,
.list-icon.icon-help li .jsn-listbullet,
.icon-help h3.jsn-moduletitle span.jsn-moduleicon {
	background: url(../tptools-images/icons/icons-uni.png) no-repeat 0 -658px;
}
.link-icon.icon-home,
.menu-iconmenu .icon-home a span,
.list-icon.icon-home li .jsn-listbullet,
.icon-home h3.jsn-moduletitle span.jsn-moduleicon {
	background: url(../tptools-images/icons/icons-uni.png) no-repeat 0 -752px;
}
.link-icon.icon-image,
.menu-iconmenu .icon-image a span,
.list-icon.icon-image li .jsn-listbullet,
.icon-image h3.jsn-moduletitle span.jsn-moduleicon {
	background: url(../tptools-images/icons/icons-uni.png) no-repeat 0 -846px;
}
.link-icon.icon-info,
.menu-iconmenu .icon-info a span,
.list-icon.icon-info li .jsn-listbullet,
.icon-info h3.jsn-moduletitle span.jsn-moduleicon {
	background: url(../tptools-images/icons/icons-uni.png) no-repeat 0 -940px;
}
.link-icon.icon-mail,
.menu-iconmenu .icon-mail a span,
.list-icon.icon-mail li .jsn-listbullet,
.icon-mail h3.jsn-moduletitle span.jsn-moduleicon {
	background: url(../tptools-images/icons/icons-uni.png) no-repeat 0 -1034px;
}
.link-icon.icon-online,
.menu-iconmenu .icon-online a span,
.list-icon.icon-online li .jsn-listbullet,
.icon-online h3.jsn-moduletitle span.jsn-moduleicon {
	background: url(../tptools-images/icons/icons-uni.png) no-repeat 0 -1128px;
}
.link-icon.icon-rss,
.menu-iconmenu .icon-rss a span,
.list-icon.icon-rss li .jsn-listbullet,
.icon-rss h3.jsn-moduletitle span.jsn-moduleicon {
	background: url(../tptools-images/icons/icons-uni.png) no-repeat 0 -1222px;
}
.link-icon.icon-search,
.menu-iconmenu .icon-search a span,
.list-icon.icon-search li .jsn-listbullet,
.icon-search h3.jsn-moduletitle span.jsn-moduleicon {
	background: url(../tptools-images/icons/icons-uni.png) no-repeat 0 -1316px;
}
.link-icon.icon-selection,
.menu-iconmenu .icon-selection a span,
.list-icon.icon-selection li .jsn-listbullet,
.icon-selection h3.jsn-moduletitle span.jsn-moduleicon {
	background: url(../tptools-images/icons/icons-uni.png) no-repeat 0 -1410px;
}
.link-icon.icon-settings,
.menu-iconmenu .icon-settings a span,
.list-icon.icon-settings li .jsn-listbullet,
.icon-settings h3.jsn-moduletitle span.jsn-moduleicon {
	background: url(../tptools-images/icons/icons-uni.png) no-repeat 0 -1504px;
}
.link-icon.icon-star,
.menu-iconmenu .icon-star a span,
.list-icon.icon-star li .jsn-listbullet,
.icon-star h3.jsn-moduletitle span.jsn-moduleicon {
	background: url(../tptools-images/icons/icons-uni.png) no-repeat 0 -1598px;
}
.link-icon.icon-statistics,
.menu-iconmenu .icon-statistics a span,
.list-icon.icon-statistics li .jsn-listbullet,
.icon-statistics h3.jsn-moduletitle span.jsn-moduleicon {
	background: url(../tptools-images/icons/icons-uni.png) no-repeat 0 -1692px;
}
.link-icon.icon-user,
.menu-iconmenu .icon-user a span,
.list-icon.icon-user li .jsn-listbullet,
.icon-user h3.jsn-moduletitle span.jsn-moduleicon {
	background: url(../tptools-images/icons/icons-uni.png) no-repeat 0 -1786px;
}